 @media (max-width: 575.98px) {
	.heightInfo{
		height: 500px;
	}
}

@media (min-width: 576px) { 
	.heightInfo{
		height: 182px;
	}
}

@media (min-width: 1200px){
	.formulario{
		height: 578px;
	}
	
}

label.seminario{
	color : black;
}

html,body{
	height: 100%;
}