@media ( max-width: 575.98px) { 

 	.fondiu{
		height : 650px;
	}
	.iconoSoluciones{
		height: 90px; 
		width: 90px;
	}

	.carousel-item-empresa{
		padding: 25% 0;
		padding-left: 0px;
	}

	.divTextoEmpresa{
		width: 300px; height: 200px;
	}

	.parallax{
		font-size: 30px; 
	}

	.fill-containerTexture{
		 height: 1000px;
	}

	
	#testimoniales{
		height: 700px; 
	}

	.textoTecnologia{
		margin-top: 200px;
	}
	.carouselNosotros{
		height:888px;
	}
	
 }

@media (min-width: 576px) { 

	.carouselNosotros{
		height:888px;
	}
	.logo-menu{
 		height:76px;
 		width:314px;
 	}


 	.fondiu{
		height : 700px;
	}

	.iconoSoluciones{
		height: 90px; 
		width: 90px;
	}

	.carousel-item-empresa{
		padding: 10% 0; 
		padding-left: 100px;
	}

	.divTextoEmpresa{
		width: 500px; height: 500px;
	}

	p.empresa{
		font-size: 22px;
	}

	.parallax{
		font-size: 35px; 
	}

	.fill-containerTexture{
		 height: 650px;
	}

	.textInovacion{
		height: 100%;
	}

	#testimoniales{
		height: 560px; 
	}

	.textoTecnologia{
		margin-top: 260px;
	}

 }


 @media(min-width: 1024px){

 	.carouselNosotros{
		height:1000px;
	}
 	.carousel-item-empresa{
		padding: 10% 0; 
		padding-left: 250px;
	}
 	.fill-containerTexture{
		 height: 400px;
	}
	.fondiu{
		height : 700px;
	}
	.parallax{
		font-size: 50px; 
	}
	.textoTecnologia{
		margin-top: 300px;
	}

 }

		html,
		body {
			 height: 100%;
		}
		

.imgVerMasTestimonial{
	background-image: url(../images/empresa-Index-4.png);
	width: 100%;
    height: 340px;
    float: right;
}

.fill-container{
	background-image: url(../images/portada-hogar.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center 0px;
}

.fill-containerTexture{
	background-image: url(../../empresa/images/empresa-Index-fondo-textura.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center 0px;
}


.carrousel-inner{
	background-image: url(../images/img-nosotros-1.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    object-fit: cover;
}

.carousel-control-next-icon{
	background-image : url(../images/arrowa-empresa-icons_MesaDeTrabajo1copia.svg) !important;
	height: 50px;
	width: 50px;
}

.carousel-control-prev-icon{
	background-image : url(../images/arrowa-empresa-icons_MesaDeTrabajo1.svg) !important;
	height: 50px;
	width: 50px;
}

.innovacionAtuAlcance{
	background-image: url(../images/empresa-Index-f2.jpg);
	height: 630px;
	width: 100%;
	background-repeat: no-repeat;  
    background-size: cover;
    background-position: center 0px;
}

.parallax {
    /* The image used */
    background-image: url(../images/hogar-Index-img-fondo2.jpg);

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgTestimoniales{
	background-image : url(../images/empresa-Index-3.jpg) !important;
	height: 67%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}


.baseSoluciones{
	background-image: url(../images/black-base-02.png);  
}

.fondoNosotros{
	background-image: url(../images/empresa-Index-nosotros-slide.png);
	background-size: cover;
 	background-position: center;
  	background-repeat: no-repeat;
}


.imgTwitter{
	background-image: url(../images/LOGOS-REDES-SOCIALES-ITEMS_Mesadetrabajo1.svg);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}

.imgFacebook{
	background-image: url(../images/LOGOS-REDES-SOCIALES-ITEMS_Mesadetrabajo1copia.svg);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}

#imgVerMas{
	visibility: hidden;
}
#imgVerMas1{
	visibility: hidden;
}	
#imgVerMas2{
	visibility: hidden;
}
#imgVerMas4{
	visibility: hidden;
}		
#imgVerMas5{
	visibility: hidden;
}
#imgVerMas6{
	visibility: hidden;
}

.imgCorreo{
	background-image: url(../images/call-correo.svg);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	
}


.cuadros{
    color: #212529;
    width: 4px;
    border: 1px solid #81818252;
    height: 180px;
    width: 200px;
}

p.empresa{
	
	text-align: justify;
	padding-top: 10px;
}