@media (max-width: 575.98px){
	.subMenuSeguridad{
		height: 600px;
	}

	.subMenuSeguridad.cercas{
		height: 600px;
	}
	.subMenuSeguridad.paneles{
		height: 480px;
	}
	.subMenuSeguridad.chapa{
		height: 650px;
	}
	.subMenuSeguridad.videoVigilancia{
		height: 650px;
	}
	.imgVideovigilancia{
		height: 900px;
	}
	.imgTextura1{
		height: 600px;
	}
	.imgPortero{
		height: 700px;
	}
	.imgChapa{
		height: 600px;
	}
	.imgPaneles{
		height: 900px;
	}
	.imgCercas{
		height: 750px;
	}
	.imgTexturaProductos{
		height: 1050px;
	}
	.fill-container.videovigilancia{
		background-image: url(./images/video-768.jpg);
	}
	.videovigilancia{
		height: 250px;
	}
	.tituloVideo{
		font-size: 30PX;
	}
	.fill-container.portero{
		background-image: url(./images/potero-500.jpg);
		height: 300px;
		font-size: 30PX;
	}
	.tituloPortero{
		font-size: 23PX;
	}
	.tituloChapa{
		font-size: 25PX;  margin-top: 100px;
		color:  white;
	}
	.fill-container.paneles{
		background-image: url(./images/panel-500.jpg);
	}
	.tituloPanel{
		color: #ffffff;
	}
	.fill-container.cercas{
		background-image: url(./images/cerca-768.jpg);
		height: 300px;
	}

	.fill-container.chapa{
		background-image: url(./images/chapa500.jpg);
		height: 200px;

	}

	.tituloCercas{
		padding-left: 0px;
		font-size: 30PX;
	}
}

@media (min-width: 576px) { 

	.subMenuSeguridad.cercas{
		height: 350px;
	}
	.tituloChapa{
		font-size: 35PX;  margin-top: 150px;
		color:  #595d65;
	}
	.fill-container.chapa{
		background-image: url(./images/chapa-electronica-hogar.jpg);
		height: 380px;
	}
	.subMenuSeguridad{
		height: 280px;
	}
	.subMenuSeguridad.videoVigilancia{
		height: 350px;
	}
	.subMenuSeguridad.chapa{
		height: 350px;
	}
	.imgTextura1{
		height: 440px;
	}
	.imgPortero{
		height: 450px;
	}
	.imgVideovigilancia{
		height: 450px;
	}
	.imgChapa{
		height: 450px;
	}
	.imgPaneles{
		height: 550px;
	}
	.imgCercas{
		height: 450px;
	}
	.imgTexturaProductos{
		height: 450px;
	}
	.fill-container.videovigilancia{
		background-image: url(./images/video-768.jpg);
	}
	.videovigilancia{
		height: 380px;
	}
	.tituloVideo{
		font-size: 44PX;
	}
	.fill-container.portero{
		background-image: url(./images/portero-electr.jpg);
		height: 380px;
		
	}
	.tituloPortero{
		font-size: 38PX;
	}
	.tituloChapa{
		padding-left: 22px;
	}
	.fill-container.paneles{
		background-image: url(./images/paneles-solares-hogar.jpg);
	}
	.tituloPanel{
		color: #595d65;
	}
	
	.fill-container.cercas{
		background-image: url(./images/cerca-768.jpg);
		height: 380px;
	}
	.tituloCercas{
		
		font-size: 44PX;
	}
}

@media (min-width: 768px) { 

}

@media(min-width: 1024px){
	.fill-container.videovigilancia{
		background-image: url(./images/01-videovigilancia.jpg);
	}
	.tituloChapa{
		padding-left: 170px;
	}
	.fill-container.cercas{
		background-image: url(./images/01-cercos.jpg);
	}
	.subMenuSeguridad.videoVigilancia{
		height: 250px;
	}
	.subMenuSeguridad.chapa{
		height: 250px;
	}
	.subMenuSeguridad.paneles{
		height: 250px;
	}
	.subMenuSeguridad.cercas{
		height: 260px;
	}
}

.imgresponsive{
	max-width: 100%;
    height: auto;
    padding: .25rem;
}

.fill-container{
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center 0px;
}

.fill-containerTexture{
	background-image: url(./images/empresa-Index-fondo-textura.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center 0px;
}

.fill-container.seguridad{
	background-image: url(./images/seguridad-y-energia.jpg);
}

.fill-container.cctv{
	background-image: url(./images/01-temp.png);
}


.fill-container.gps{
	background-image: url(./images/01-temp.png);
}
.fill-container.controles{
	background-image: url(./images/01-temp.png);
}
.fill-container.instalaciones{
	background-image: url(./images/01-instalaciones.jpg);
}


.fill-container.barrera{
	background-image: url(./images/01-temp.png);
}
.imgSeguridad{
	background-image: url(./images/02-temp.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.imgVideovigilancia{
	background-image: url(./images/02-videovigilancia.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.imgCctv{
	background-image: url(./images/02-temp.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.imgCercas{
	background-image: url(./images/02-cercos.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.imgPaneles{
	background-image: url(./images/paneles-solares-img2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.imgGps{
	background-image: url(./images/02-temp.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.imgControles{
	background-image: url(./images/02-temp.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.imgInstalaciones{
	background-image: url(./images/02-instalaciones.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.imgPortero{
	background-image: url(./images/02-temp.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.imgChapa{
	background-image: url(./images/02-temp.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.imgBarrera{
	background-image: url(./images/02-temp.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.imgTextura1{
	background-image: url(./images/textura1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.imgTextura2{
	background-image: url(./images/textura2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.carrousel-inner{
	background-image: url(./images/empresa-Index-nosotros-slide.png);
	background-position: center center;
    background-repeat: no-repeat;
    height:100%;
    width: 100%;
    background-size:cover;
    -webkit-background-origin:border !important;
}

.parallax{
    background-attachment: fixed;
    background-position: center;
}

.carousel-control-next-icon{
	background-image : url(./images/arrowa-empresa-icons_MesaDeTrabajo1copia.svg) !important;
	height: 50px;
	width: 50px;
}

.carousel-control-prev-icon{
	background-image : url(./images/arrowa-empresa-icons_MesaDeTrabajo1.svg) !important;
	height: 50px;
	width: 50px;
}

.innovacionAtuAlcance{
	background-image: url(./images/empresa-Index-f2.jpg);
	height: 630px;
	width: 100%;
	background-repeat: no-repeat;  
    background-size: cover;
    background-position: center 0px;
}

.imgTestimoniales{
	background-image : url(./images/empresa-Index-3.jpg) !important;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.soluciones{
    margin: auto;
    position: relative;
    top: 20%;
    text-align: justify;
    width: 600px;
}


.formularioCotizacion{
    margin: auto;
    position: relative;
    top: 20%;
    text-align: center;
    color: #fff;
    width: 600px;
}

.formularioCotizacion .izquierda{
    align-content: left;
}

.formularioCotizacion .derecha{
    align-content: right;
    top: 40%;
}

#footer{
    padding: 4rem 0 2rem 0 ;
	background: #000;
	text-align: center;
}

#footer .copyright {
	color: #bbb;
	font-size: 0.9rem;
	margin: 0 0 2rem 0;
	padding: 0;
    text-align: right;
}

.imgTwitter{
	background-image: url(../images/LOGOS-REDES-SOCIALES-ITEMS_Mesadetrabajo1.svg);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}

.imgFacebook{
	background-image: url(../images/LOGOS-REDES-SOCIALES-ITEMS_Mesadetrabajo1copia.svg);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}

.imgYoutube{
	background-image: url(../images/LOGOS-REDES-SOCIALES-ITEMS-03.svg);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}

a.sub{
    border-bottom: 1px solid #ccc;
    display: block;
    text-decoration: none;
    color: #212529;
    padding: 8px 0px 8px 0px !important;
}

a.a2{
    border-bottom: 0px solid #ccc !important;
}

a.sub:hover{
    text-decoration: none;
    color: black;
	background-color: lightgray; 
}

.barra{
    width: 15px; height: 42px;
}

.barra.negra{
    background-color:black;
}

.barra.roja{
    background-color:red;
}
.barra.esp{
    background-color:transparent;
}
ul {
    list-style-image: url("./images/blue-palomita.png"); 
}
