@media (max-width: 575.98px) { 
	.fill-container{
		background-position: -175px 0px;
		height: 350px;
	}
	.tituloQuienes{
		 margin-top: 180px;
		 font-size: 30PX;
	}
	.carousel-item-empresa{
        padding: 25% 0;
        padding-left: 0px;
    }

    .carouselNosotros{
		height:888px;
	}
 }
@media (min-width: 576px) { 
	.fill-container{
		background-position: -270px 0px;
		height: 557px;
	}
	.tituloQuienes{
		 margin-top: 220px;
		 font-size: 49PX;
	}
	.carousel-item-empresa{
        padding: 10% 0; padding-left: 250px;
    }
    .carouselNosotros{
		height:888px;
	}
 }
 @media (min-width: 1024px) { 
	.fill-container{
		background-position: center 0px;
		height: 557px;
	}
	.tituloQuienes{
		 margin-top: 220px;
		 font-size: 49PX;
	}
	.carouselNosotros{
		height:1000px;
	}
 }





.fill-container{
	background-image: url(./images/quienes-somos-img.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    
}

.fondoNosotros{
    background-image: url(../images/empresa-Index-nosotros-slide.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fill-containerTexture{
	background-image: url(../../empresa/images/empresa-Index-fondo-textura.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center 0px;
}

.galeria{
    background-image: url(../images/empresa-Index-img-fondo.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center 0px;
}



.carousel-control-next-icon{
	background-image : url(./images/arrowa-empresa-icons_MesaDeTrabajo1copia.svg) !important;
	height: 50px;
	width: 50px;
}

.carousel-control-prev-icon{
	background-image : url(./images/arrowa-empresa-icons_MesaDeTrabajo1.svg) !important;
	height: 50px;
	width: 50px;
}

.innovacionAtuAlcance{
	background-image: url(./images/empresa-Index-f2.jpg);
	height: 630px;
	width: 100%;
	background-repeat: no-repeat;  
    background-size: cover;
    background-position: center 0px;
}


.imgTestimoniales{
	background-image : url(./images/empresa-Index-3.jpg) !important;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.soluciones{
    margin: auto;
    position: relative;
    top: 20%;
    text-align: justify;
    width: 600px;
}


.formularioCotizacion{
    margin: auto;
    position: relative;
    top: 20%;
    text-align: center;
    color: #fff;
    width: 600px;
}

.formularioCotizacion .izquierda{
    align-content: left;
}

.formularioCotizacion .derecha{
    align-content: right;
    top: 40%;
}

#footer{
    padding: 4rem 0 2rem 0 ;
	background: #000;
	text-align: center;
}

#footer .copyright {
	color: #bbb;
	font-size: 0.9rem;
	margin: 0 0 2rem 0;
	padding: 0;
    text-align: right;
}

.imgTwitter{
	background-image: url(../images/LOGOS-REDES-SOCIALES-ITEMS_Mesadetrabajo1.svg);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}

.imgFacebook{
	background-image: url(../images/LOGOS-REDES-SOCIALES-ITEMS_Mesadetrabajo1copia.svg);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}
.imgYoutube{
	background-image: url(../images/LOGOS-REDES-SOCIALES-ITEMS-03.svg);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}
