@media (min-width: 576px) { 

	.fill-containerTexture{
		height: 500px;
	}
	
	.fill-container{
		height: 800px;
	}

	.textoInicio{
		font-size: 49PX;
	}

 	.fondiu{
		height : calc(100% - 153px);
	}
	.iconoSoluciones{
		height: 90px; 
		width: 90px;
	}
	.height-iconosoluciones{
		height: 150px;
	}

	.cuadros{
		height: 180px;
    	width: 200px;
	}
	p.empresa{
		font-size: 22px;
	}

	.textoSolucion{
		font-size: 19px;
	}

	.carousel-item-empresa{
		padding: 10% 0; 
		padding-left: 100px;
	}

	.divTextoEmpresa{
		width: 500px; height: 500px;
	}

	.parallax{
		font-size: 50px; 
	}

	.carouselNosotros{
		height:888px;
	}

 }

 @media (max-width: 575.98px) {

 	.carouselNosotros{
		height:888px;
	}
 	.fill-container{
		height: 700px;
	}

	.textoInicio{
		font-size: 35PX;
	}

 	.iconoSoluciones{
 		height: 90px; 
		width: 90px;
 	}
 	.cuadros{
		height: 180px;
    	width: 200px;
	}

	.textoSolucion.equipamiento{
		left : 42px !important;
	}

	.carousel-item-empresa{
		padding: 25% 0;
		padding-left: 0px;
	}

	.divTextoEmpresa{
		width: 300px; height: 200px;
	}


	.parallax{
		font-size: 30px; 
	}

	.videoHeight{
		height : 240px;
	}
	
}

@media (min-width: 768px){
	.videoHeight{
		height : 250px;
	}
}

@media (min-width: 1024px){
	.fill-container{
		height : 1100px;
	}
	.carouselNosotros{
		height:1000px;
	}
	.videoHeight{
		height : 500px;
	}
}



html,
body {
	 height: 100%;
}
		

.imgVerMasTestimonial{
	background-image: url(../images/empresa-Index-4.png);
	width: 100%;
    height: 340px;
    float: right;
}

.fill-container{
	background-image: url(../images/empresa-Index-img-fondo.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center 0px;
}

.fill-containerTexture{
	background-image: url(../images/empresa-Index-fondo-textura.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center 0px;
}


.carrousel-inner{
	background-image: url(../images/img-nosotros-1.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    object-fit: cover;
}

.carousel-control-next-icon{
	background-image : url(../images/arrowa-empresa-icons_MesaDeTrabajo1copia.svg) !important;
	height: 50px;
	width: 50px;
}

.carousel-control-prev-icon{
	background-image : url(../images/arrowa-empresa-icons_MesaDeTrabajo1.svg) !important;
	height: 50px;
	width: 50px;
}

.innovacionAtuAlcance{
	background-image: url(../images/empresa-Index-f2.jpg);
	height: 630px;
	width: 100%;
	background-repeat: no-repeat;  
    background-size: cover;
    background-position: center 0px;
}

.parallax {
    /* The image used */
    background-image: url(../images/empresa-Index-f2.jpg);

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgTestimoniales{
	background-image : url(../images/empresa-Index-3.jpg) !important;
	height: 67%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}


.baseSoluciones{
	background-image: url(../images/black-base-02.png);  
}

.fondoNosotros{
	background-image: url(../images/empresa-Index-nosotros-slide.png);
	background-size: cover;
 	background-position: center;
  	background-repeat: no-repeat;
}


.imgTwitter{
	background-image: url(../images/LOGOS-REDES-SOCIALES-ITEMS_Mesadetrabajo1.svg);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}

.imgFacebook{
	background-image: url(../images/LOGOS-REDES-SOCIALES-ITEMS_Mesadetrabajo1copia.svg);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}


p.empresa{
	
	text-align: justify;
	padding-top: 10px;
}



#imgVerMas{
	visibility: hidden;
}
#imgVerMas1{
	visibility: hidden;
}	
#imgVerMas2{
	visibility: hidden;
}
#imgVerMas4{
	visibility: hidden;
}		
#imgVerMas5{
	visibility: hidden;
}
#imgVerMas6{
	visibility: hidden;
}

.imgCorreo{
	background-image: url(../images/call-correo.svg);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	
}

.portadilla{
	text-decoration: none !important;
}

.cuadros{
    color: #212529;
    border: 1px solid #81818252;
    
		height: 180px;
    	width: 200px;
	
}

img{border:none}
#outer{
    width:70%;
    margin:auto;
}

ul{list-style:none;padding:5px;}
.wrap {
    border:5px solid #ccc;
    width: 100%;
    overflow: auto;
    padding-bottom:14px;
    white-space:nowrap;
}
.wrap li {
    margin:0 10px;
    display:inline;
}

/*Barra de scroll*/

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
