@media (min-width: 1336px) { 

	.fill-containerTexture{
		height: 500px;
	}
	

 	.fondiu{
		height : calc(100% - 153px);
	}
	.iconoSoluciones{
		height: 90px; 
		width: 90px;
	}
	.height-iconosoluciones{
		height: 150px;
	}

	.cuadros{
		height: 180px;
    	width: 200px;
	}
 }

@media (max-width: 1336px) { 


 	.fondiu{
		height : calc(100% - 100px);
	}
	.fill-containerTexture{
			height: 1200px;
		}
	.iconoSoluciones{
		height: 200px; 
		width: 200px;
	}	
	.height-iconosoluciones{
		height: 300px;
	}

	.cuadros{
		height: 280px;
    	width: 300px;
	}
	
 }

 @media (max-width: 500px){
 	
 }

		html,
		body {
			 height: 100%;
		}
		

.imgVerMasTestimonial{
	background-image: url(../images/empresa-Index-4.png);
	width: 100%;
    height: 340px;
    float: right;
}

.fill-container{
	background-image: url(../images/empresa-Index-img-fondo.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center 0px;
}

.fill-containerTexture{
	background-image: url(../images/empresa-Index-fondo-textura.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center 0px;
}


.carrousel-inner{
	background-image: url(../images/img-nosotros-1.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    object-fit: cover;
}

.carousel-control-next-icon{
	background-image : url(../images/arrowa-empresa-icons_MesaDeTrabajo1copia.svg) !important;
	height: 50px;
	width: 50px;
}

.carousel-control-prev-icon{
	background-image : url(../images/arrowa-empresa-icons_MesaDeTrabajo1.svg) !important;
	height: 50px;
	width: 50px;
}

.innovacionAtuAlcance{
	background-image: url(../images/empresa-Index-f2.jpg);
	height: 630px;
	width: 100%;
	background-repeat: no-repeat;  
    background-size: cover;
    background-position: center 0px;
}

.parallax {
    /* The image used */
    background-image: url(../images/empresa-Index-f2.jpg);

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgTestimoniales{
	background-image : url(../images/empresa-Index-3.jpg) !important;
	height: 67%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}


.baseSoluciones{
	background-image: url(../images/black-base-02.png);  
}

.fondoNosotros{
	background-image: url(../images/empresa-Index-nosotros-slide.png);
	background-size: cover;
 	background-position: center;
  	background-repeat: no-repeat;
}


.imgTwitter{
	background-image: url(../images/LOGOS-REDES-SOCIALES-ITEMS_Mesadetrabajo1.svg);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}

.imgFacebook{
	background-image: url(../images/LOGOS-REDES-SOCIALES-ITEMS_Mesadetrabajo1copia.svg);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}


p.empresa{
	font-size: 22px;
	text-align: justify;
	padding-top: 10px;
}

.carousel-item-empresa{
	padding: 10% 0; padding-left: 250px;
}

.divTextoEmpresa{
	width: 500px; height: 500px;
}

#imgVerMas{
	visibility: hidden;
}
#imgVerMas1{
	visibility: hidden;
}	
#imgVerMas2{
	visibility: hidden;
}
#imgVerMas4{
	visibility: hidden;
}		
#imgVerMas5{
	visibility: hidden;
}
#imgVerMas6{
	visibility: hidden;
}

.imgCorreo{
	background-image: url(../images/call-correo.svg);
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	
}

.portadilla{
	text-decoration: none !important;
}

.cuadros{
    color: #212529;
    border: 1px solid #81818252;
    
}