
 @media (max-width: 575.98px) {
 	#logoMaxi{
 		width: 200px;
 	}
 	.contenedor-video{
		height: 75px ;
	}
 	
 	.imgCotizacion{
 		height: 680px;
 	}		
}

@media (min-width: 576px) { 
	.contenedor-video{
		height: 120px ;
	}
 		
 	#logoMaxi{
 		width: 400px;
 	}
 	.imgCotizacion{
 		height: 540px;
 	}
 	

 }

@media (min-width: 1200px){
	.dropdown:hover .dropdown-menu {
		display: block;
	}
}

li.menu{
		font-family:'Roboto';
		font-weight:normal;
		font-size:18px;	
}

li.sub-menu{
	font-family:'Roboto';
	font-weight:normal;
	font-size:12px;	
}

a.nav-link{
	padding: 8px 0px 8px 0px !important;
}


a.Hover { 
	box-shadow: 0px 3px red;
	color: red !important;
	border-color: red;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
}



.dropdown-menu{
	top: 97% !important;
}

.dropdown-item:focus, .dropdown-item:hover{
	    background-color: #d7d7d7;
}

.headerMaxicomm{
	position: absolute; 
	left: 50%; 
	transform: translateX(-50%); 

	top : 23px;
}

.posicionActual{
	box-shadow: 0px 3px red;
	border-color: red;
}

#iconFacebook {
	transition: all .2s ease-in-out;
}

#iconFacebook:hover{
	transform: scale(1.4);
}
#iconTwitter {
	transition: all .2s ease-in-out;
}

#iconTwitter:hover{
	transform: scale(1.4);
}

a#icnRedesS{
	text-decoration: none;
}

.imgCotizacion{
	background-image: url(../images/empresa-Index-formulario.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center 0px;
}



p{
	font-family: 'Roboto'
}

#button{
	border: 1px solid;
	border-color: white;
}

input.inputCotizacion{
	padding-left: 12px;
	width: 250px;
}
input.inputCotizacionEmail{
	padding-left: 12px;
	width: 100%;
}


a.portadilla:hover{
	color:#000000;
}

.btn-ida-hogar{
	/*border: 2px solid #232225f2;
    border-radius: 17px;
    width: 95px;*/
    background: url('../images/btn1.png'); width: 90px;height: 40px;

}

.btn-ida-hogar:hover{
	/*border: 2px solid #232225f2;
    border-radius: 17px;
    width: 95px;
    background-color: #232225f2;
    color: white !important;*/
    background: url('../images/btn2.png');
}

label{
	color: white;
}
