@media (max-width: 575.98px) {
 	.imgDesarrollo{
		height: 1000px;
	}

	.textoDesarolloS{
		height: 480px;
	}

	.tituloServicioWeb{
		font-size: 30px;
	}

	.textoServiciosW{
		height: 350px;
	}
	

}



@media (min-width: 576px) { 
	.imgDesarrollo{
		height: 650px;
	}

	.textoDesarolloS{
		height: 350px;
	}

	.tituloServicioWeb{
		font-size: 45px;
	}
	
	.textoServiciosW{
		height: 250px;
	}

 }

.fill-container{
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center 0px;
}



.fill-container.serviciosWeb{
	background-image: url(./images/portada.jpg);
}


.imgServiciosWeb{
	background-image: url(./images/02-temp.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.imgFibra{
	background-image: url(./images/parallax.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}



.parallax{
    background-attachment: fixed;
    background-position: center;
}





#footer{
    padding: 4rem 0 2rem 0 ;
	background: #000;
	text-align: center;
}

#footer .copyright {
	color: #bbb;
	font-size: 0.9rem;
	margin: 0 0 2rem 0;
	padding: 0;
    text-align: right;
}


a.sub{
    border-bottom: 1px solid #ccc;
    display: block;
    text-decoration: none;
    color: #212529;
    padding: 8px 0px 8px 0px !important;
}

a.a2{
    border-bottom: 0px solid #ccc !important;
}

a.sub:hover{
    text-decoration: none;
    color: black;
	background-color: lightgray; 
}

.barra{
    width: 15px; height: 42px;
}

.barra.negra{
    background-color:black;
}

.barra.roja{
    background-color:red;
}
.barra.esp{
    background-color:transparent;
}
ul {
    list-style-image: url("../serviciosWeb/images/blue-palomita.png"); 
}

