
 @media (max-width: 575.98px) {
 	.imgDesarrollo{
		height: 1000px;
	}

	.textoDesarolloS{
		height: 480px;
	}

	.tituloDesarrolloS{
		font-size: 30px;
	}
    .fill-container.desarrollo{
	   background-image: url(./images/portada.jpg);
        height: 300px;
    }
}

@media (min-width: 576px) { 
	.imgDesarrollo{
		height: 650px;
	}

	.textoDesarolloS{
		height: 350px;
	}

	.tituloDesarrolloS{
		font-size: 37px;
	}
    .fill-container.desarrollo{
	   background-image: url(./images/portada.jpg);
        height: 300px;
    }

 }

@media (min-width: 1024px) { 
    .fill-container.desarrollo{
        background-image: url(./images/portada.jpg);
        height: 380px;
    }
}


.fill-container{
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center 0px;
}

.fill-containerTexture{
	background-image: url(./images/empresa-Index-fondo-textura.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center 0px;
}

.fill-container.desarrollo{
	background-image: url(./images/portada.jpg);
}

.imgDesarrollo{
	background-image: url(./images/parallax.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}




.parallax{
    background-attachment: fixed;
    background-position: center;
}





#footer{
    padding: 4rem 0 2rem 0 ;
	background: #000;
	text-align: center;
}

#footer .copyright {
	color: #bbb;
	font-size: 0.9rem;
	margin: 0 0 2rem 0;
	padding: 0;
    text-align: right;
}

a.sub{
    border-bottom: 1px solid #ccc;
    display: block;
    text-decoration: none;
    color: #212529;
    padding: 8px 0px 8px 0px !important;
}

a.a2{
    border-bottom: 0px solid #ccc !important;
}

a.sub:hover{
    text-decoration: none;
    color: black;
	background-color: lightgray; 
}
.cuadros{
    text-decoration: none !important;
    color: #212529;
}
.cuadros:hover{
    color: #212529;
}

.barra{
    width: 15px; height: 42px;
}

.barra.negra{
    background-color:black;
}

.barra.roja{
    background-color:red;
}
.barra.esp{
    background-color:transparent;
}
ul {
    list-style-image: url("../comunicaciones/images/blue-palomita.png"); 
}


